html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}
body {
	font-size: 15px;
}
.margin-sm {
	margin-bottom: 20px;
}
.margin-md {
	margin-bottom: 50px;
}
.margin-bg {
	margin-bottom: 70px;
}
.navbar {
	margin-bottom: 0;
	border: 0;
	border-radius: 0;
	z-index: 99;
	background-color: #0090bd;
}
.navbar .navbar-header a, .navbar .collapse li a {
	font-weight: 600;
	color: white;
	letter-spacing: 1.8px;
}
#header {
	display: table;
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #0090bd;
	padding: 200px;
}
#header .vertical-center div.btn{
	height: 60px;
	width: 300px;
	font-size: 26px;
	font-weight: 600;
	background-color: #FF8300;
	color: #fff;
	border: none;
}
footer {
	background-color: #0090BD;
	color: white;
	font-size: 20px;
}
footer a {
	color: #313131;
}
.vertical-center {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	color: white;
}
.vertical-center h1 {
	font-size: 42px;
	font-weight: 600;
}
.vertical-center h3 {
	font-weight: 400;
}
.container-fluid {
	padding-top: 70px;
	padding-bottom: 70px;
}
.garis {
	height: 5px;
	background-color: #FF8300;
}